<main class = "first-view">
    <div class = "top-container">
        <div class ="search-form">
            <span>Potepan Shereで<br>まだ体験したことのない<br>旅をしよう</span>
            <%= search_form_for @q, url: search_rooms_path do |f| %>
                <div class = "search-field">
                    <%= f.search_field :name_or_introduction_cont, placeholder: 'キーワードを入力', class:"search-form-area" %>
                    <%= f.submit '検索', class: "search-button" %>
                </div>
            <% end %>
        </div>
    </div>
</main>
