// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.room-image {
    width: 100px;
    height: 50px;
}

.room-table {
    width: 90%;
}

.room-table-body td {
    border-bottom: 1px #ddd solid;
}

.room-table-body .btn {
    background-color: #f9ecd5;
    border-style: none;
    color: #000;
}